
@using Scotec.Blazor.Diagrams.Renderer
@inherits NodeLayer<ConfigurationLayerModel, SignalProcessorNodeModel, SignalProcessorLinkModel>

<h3>ConfigurationLayer</h3>

<div class="" style="height: 100%; width: 100%">
    @foreach (var node in LayerModel.Nodes)
    {
        <NodeRenderer @key="node" Model="node"/>
    }
</div>