@using Scotec.Blazor.DragDrop.Components
<div style="height: 100%; width: 100%;">
    <DragDropZone Id="diagram" CanDrag="false" TItem="DefinitionNodeModel" Items="_nodeTypes" OnItemDrop="OnItemDrop" OnItemDropEnd="OnItemDropEnd" Style="background-color: white; height: 100%;">
        <ChildContent>
            <CascadingValue Value="DiagramModel" IsFixed="false">
                <DiagramCanvas>
                    @*                  <AdditionalHtml>
                     <!-- EXTRA HTML -->
                </AdditionalHtml>
                <AdditionalSvg>
                    <!-- EXTRA SVG -->
                </AdditionalSvg> *@
                </DiagramCanvas>
            </CascadingValue>
        </ChildContent>
    </DragDropZone>

</div>