@using Blazor.Diagrams.Components

<link href="_content/SignalF.Studio.Designer/css/styles.css" rel="stylesheet" />
<div class="diagram-container">
    <CascadingValue Value="Diagram" IsFixed="true">
        <DiagramCanvas>
            <AdditionalHtml>
                <!-- EXTRA HTML -->
            </AdditionalHtml>
            <AdditionalSvg>
                <!-- EXTRA SVG -->
            </AdditionalSvg>
        </DiagramCanvas>
    </CascadingValue>
</div>
