
<RadzenCard>
    <div>
        @* <img class="d-block m-auto" src="_content/SharedDemo/img/DefaultNodeWidget.png"/> *@
        <span>Default Node</span>
    </div>
</RadzenCard>

@code {

}