@using SignalF.Studio.Designer.Models
@using Scotec.Blazor.DragDrop.Components
@using Radzen.Blazor


<div style="background-color: blanchedalmond; height: 100%;">
     <RadzenAccordion>
        <Items>
            <RadzenAccordionItem Text="Devices" >
                <DragDropZone TItem="DefinitionNodeModel" Items="_deviceDefinitions" Style="padding: 10px;">
                    <Template>
                        <RadzenCard Style="background-color: lightgoldenrodyellow">
                            <div>
                                <span>@context.TypeName</span>
                            </div>
                        </RadzenCard>
                    </Template>
                </DragDropZone>
            </RadzenAccordionItem>
            <RadzenAccordionItem Text="Calculators">
                <DragDropZone TItem="DefinitionNodeModel" Items="_calculatorDefinitions" Style="padding: 10px;">
                    <Template>
                        <RadzenCard Style="background-color: lightgoldenrodyellow">
                            <div>
                                <span>@context.TypeName</span>
                            </div>
                        </RadzenCard>
                    </Template>
                </DragDropZone>
            </RadzenAccordionItem>
            <RadzenAccordionItem Text="Data Output">
                Data Output
            </RadzenAccordionItem>
        </Items>
    </RadzenAccordion>
 </div>

