

.sf-signal-processor-port {
    /*outline: 1px solid darkgray;*/
    border-width: 1px;
    border-style: solid;
    cursor: crosshair;
    /*    border-color: darkgray;
*/
}

.selected .sf-signal-processor-port {
    outline: 1px solid black !important;
}

 .sf-signal-processor-port-signal-source {
    background-color: lightgreen !important;
}

 .sf-signal-processor-port-signal-sink {
    background-color: lightcoral !important;
}

.left .sf-signal-processor-port {
    border-right-width: 1px;
    border-left-width: 0;
}

.right .sf-signal-processor-port {
    border-right-width: 0;
    border-left-width: 1px;
}



