.signal-processor-node {
    outline: 1px solid black;
    padding: 0;
    background-color: aliceblue !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* ReSharper disable once CssBrowserCompatibility */
input::placeholder {
    color: #999999;
    }

div > input[type=text] {
    font-family: Arial;
    font-size: 1.2rem;
    text-align: center;
    
    width: 100%;    
    margin: 0;
    margin-bottom: 0;
    padding: 0.5rem;
    background-color: lightblue;
    box-sizing: border-box;
    border-width: 0 0 0 0;
}

::deep .rz-textbox {
    font-family: Arial;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    background-color: lightblue;
    margin: 0;
    padding: 5px;
    border-width: 0;
    border-radius: 0;
}

    ::deep .rz-textbox:hover {
         border-color: red !important;
    }
    ::deep .rz-state-focused {
        border-color: yellow !important;
         border-width: 0 !important;
    }


/*    div > input[type=number] {
        padding: 3px;
        border-radius: 3px;
        border: 1px solid black;
        margin-bottom: 8px;
    }
*/
/*::deep .diagram-port {
    position: absolute;
    width: 30px;
    height: 20px;
    background-color: black;
    left: 50%;
    transform: translate(-50%, -50%);
}

    ::deep .diagram-port.top {
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        top: -10px;
    }

    ::deep .diagram-port.bottom {
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        bottom: -30px;
    }
*/
::deep .rectangle-port {
    position: absolute;
     width: 20px;
    height: 20px;
    background-color: #007bff;
    border: 1px solid #000;
}

::deep .rectangle-port.left {
    left: 0;
}
::deep .rectangle-port.right {
    right: 0px;
}