@using Blazor.Diagrams.Components
@using Blazor.Diagrams.Components.Renderers;
@using Radzen.Blazor
@using SignalF.Studio.Designer.Nodes


@if (Node == null)
{
    <div>Loading...</div>
}
else
{
    <div class="signal-processor-node" style=@($"width: {Node.Size?.Width}px; height: {Node.Size?.Height}px;")>
        <RadzenTextBox @bind-Value="@Node.Name" Placeholder="@Node.DefinitionName" />
        <div>
            @{
                int y = 40;
                foreach (var port in Node.Ports)
                {

                    @* <div class="rectangle-port" style="position: absolute; left: @(port.Position.X)px; top: @(port.Position.Y)px;"></div> *@
                    // <PortRenderer @key="port" Port="port" Class="rectangle-port" Style=@($"top: {y}px;")></PortRenderer>
                    <PortRenderer @key="port" Port="port" Class="" Style=@($"top: {y}px;")>
                        <RadzenRow>
                            <RadzenColumn Style="width:20px; height: 20px;background-color: aquamarine"></RadzenColumn>
                            <RadzenColumn>
                                <RadzenText Text="abcdeefgh" Style="height: 20px;background-color: beige"></RadzenText>
                            </RadzenColumn>
                        </RadzenRow>
                    </PortRenderer>
                    y += 40;
                }
            }
        </div>
    </div>

}

@code {
    // This gets filled by the library
    [Parameter] public SignalProcessorNode? Node { get; set; }

}
