@using Scotec.Blazor.Diagrams.Core.Models
@using Scotec.Blazor.Diagrams.Core.Layer
@using Scotec.Blazor.Diagrams.Renderer

@inherits NodeLayer<NodeLayerModel, NodeModel, LinkModel>

<h3>NodeLayer</h3>

<div class="diagram-layer-node" style="">
    @foreach (var node in LayerModel.Nodes)
        {
            <NodeRenderer @key="node" Node="node" />
        }
</div>

