@* This node widget displays an error message if a requested widget was not found. *@

@using Scotec.Blazor.Diagrams.Core.Models
<div class="diagram-node-error">
    E
</div>

@code {

    [Parameter] public NodeModel Node { get; set; } = null!;

}