@* This node widget displays an error message if a requested widget was not found. *@

@using Scotec.Blazor.Diagrams.Core.Models
<div class="diagram-port-error" style="height: 100%; width: 100%;">
    E
</div>

@code {

    [Parameter] public PortModel Port { get; set; } = null!;

}